<form action='/api/restaurants' method='post'>
	Title:
	<input type='text' name='title' value='' placeholder='Enter title' />
	<br />
	Isbn:
	<input type='text' name='isbn' value='' placeholder='Enter ISBN' /><br />
	Page Count:
	<input
		type='text'
		name='pageCount'
		value=''
		placeholder='Enter pageCount'
	/><br />
	Status:
	<input type='text' name='status' value='' placeholder='Enter status' /><br />
	<input type='submit' name='Submit' />
</form>