<div class="modal fade" id="login" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Enter Login Creds</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td>
                                <input type="text" name="email" id="email" placeholder="Enter Email Id" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Password:
                            </td>
                            <td>
                                <input type="password" id="password" name="password" placeholder="Enter Password" required/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        jwt = localStorage.getItem('jwt');
        if (jwt != null) {
            window.location.href = '/view/restaurants/';
        }

        document.getElementById("loginButton").addEventListener("click", function(event){
            event.preventDefault();
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;

            const xhttp = new XMLHttpRequest();
            xhttp.open('POST', basePath+'/api/user/login');
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhttp.send(
                JSON.stringify({
                email,
                password,
            }));
            
            xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                const objects = JSON.parse(this.responseText);
                if (objects.token) {
                    localStorage.setItem('jwt', objects.token);
                    window.location.href = '/view/restaurants/';
                } else {
                    console.log('Error while fetching token');
                    window.location.href = '/';
                }
            }
            }
            email = password = '';

        });
    </script>
</div>
