<div class="modal fade" id="signup" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/login" method="post">
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td>
                                <input type="text" name="email" id="emailSignUp" placeholder="Enter Email" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Password:
                            </td>
                            <td>
                                <input type="password" name="password" id="passwordSignUp" placeholder="Enter Password" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Confirm Password:
                            </td>
                            <td>
                                <input type="password" name="confirm-password" id="confirm-password" placeholder="Enter Password" required/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="hidden" name="operation" value="add">
                    <button type="submit" id="signupButton" class="btn btn-primary">Sign up</button>
                </div>
            </form>

            <script>
                jwt = localStorage.getItem('jwt');
                if (jwt != null) {
                    window.location.href = '/view/restaurants/';
                }

                document.getElementById("signupButton").addEventListener("click", function(event){
                    event.preventDefault();
                    const emailSignUp = document.getElementById('emailSignUp').value;
                    const passwordElement = document.getElementById('passwordSignUp');
                    const confirmPasswordElement = document.getElementById('confirm-password');

                    console.log("email password: " + passwordElement.value, emailSignUp)


                    const xhttp = new XMLHttpRequest();
                    xhttp.open('POST', basePath+'/api/user/signup');
                    xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                    xhttp.send(
                        JSON.stringify({
                        email: emailSignUp,
                        password: passwordElement.value,
                    }));
                    
                    xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        const objects = JSON.parse(this.responseText);
                        if (objects.user) {
                            window.location.href = '/';
                        } else {
                            console.log('Error while fetching token');
                            window.location.href = '/';
                        }
                    }
                    }
                });
            </script>
        </div>
    </div>
</div>
